<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/home.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Sawarni-homepage</title>
    </head>
    <body>
        <!-- navbar-->
        <div class="nav-section">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">ProPic</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Sign in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- background image -->
        <div class="carousel slide" id="backgroundCarousel" data-bs-ride="carousel">
            <ol class="carousel-indicators" >
                <li data-bs-target="#backgroundCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#backgroundCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#backgroundCarousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="height: 80%;">
                <div class="carousel-item active">
                    <img src="./images/back.jpg" alt="" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block h-50">
                        <h1>WELCOME</h1>
                        <p> Sawarni is a plateforme where she makes in contact photographers 
                                and videographers with clients go and check for more if you want to
                                you won't regreting choosing us.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./images/back.jpg" alt="" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block h-50">
                        <h1>WELCOME</h1>
                        <p> Sawarni is a plateforme where she makes in contact photographers 
                                and videographers with clients go and check for more if you want to
                                you won't regreting choosing us.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./images/back.jpg" alt="" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block h-50">
                        <h1>WELCOME</h1>
                        <p> Sawarni is a plateforme where she makes in contact photographers 
                                and videographers with clients go and check for more if you want to
                                you won't regreting choosing us.</p>
                    </div>
                </div>
            </div>
            <a href="#backgroundCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>   
            <a href="#backgroundCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>    
            </a> 
        </div>
        <div class="hiring_section">
            <div id="hiring_header">
                <h1 class="h1_white">We Are Recruting</h1>
                <h1 class="h1_black">We Are Recruting</h1>
            </div>
            <div id="hiring_body">
                <div class="message_section">
                    <h5>Hello,</h5>
                    <p>our company is searching for the best photographers and videographers and kfjmsq
                    fsjdmkfljsdf jmlksdjfllmkdsf dsqfjmqksdfjkmlsqd fjmsdkfj fkj jfknvjmls sfsdlkfjlsmqkfjqslkfj
                    dfkjdfkldmjfqmdklfjd
                    </p>
                    <hr class="my-5">
                    <p class="signature">MENAA Anis - the manager</p>
                </div>
                <div class="inscription_section">
                    <p>to get the Sign in link please fill this</p>
                    <form method="post" action="/home">
                        <input type="text" name="fullName" placeholder="Full name">
                        <input type="email" name="email" placeholder="email">
                        <input type="submit" value="Get me the link">
                    </form>
                </div>
            </div>
        </div>
    
        <!-- services -->
        <div id="services_section">
            <div id="services_header">
                <h1 class="header_black">Our Services</h1>
                <h1 class="header_white">Our Services</h1>
            </div>
            <div class="services">
                <div class="service">
                        <div class="service_image_section">
                            <div class="service_image_clone"></div>
                            <img src="./images/photo.jpg" height="250px" width="250px" alt="">
                        </div>
                        <p class="service_description">wether you want a picture for
                            your instagram account or 
                            for your product or an album 
                            fot your wedding. </p>
                        <a href="#">see more</a>
                </div>  
                <div class="service">
                        <div class="service_image_section">
                            <div class="service_image_clone"></div>
                            <img src="./images/job.jpg" height="250px" width="250px" alt="">
                        </div>
                        <p class="service_description">we will give you a cloud
                                space to store all your albums. 
                                </p>
                        <a href="#">see more</a>
                </div>  
                <div class="service">
                        <div class="service_image_section">
                            <div class="service_image_clone"></div>
                            <img src="./images/cloud.jpg" height="250px" width="250px" alt="">
                        </div>
                        <p class="service_description">wether you want a picture for
                                your instagram account or 
                                for your product or an album 
                                fot your wedding </p>
                        <a href="#">see more</a>
                </div>  
            </div> 
        </div>
        
        <div class="tell_something">
            <p>TELL ME SOMETHING</p>
            <textarea name="tell" id="tell_something" placeholder="tell me something"></textarea>
        </div>
        
        <footer>
            <div class="footer-item footer-logo">
                <p>ProPic</p>
            </div>
            <div class="footer-item footer-note">
                <h6>Note</h6>
                <p>our services for clients will be deployed 
                        in the next few weeks once we will finish 
                        dealing with our partenaires.
                        the best is yet to come.</p>   
            </div>
            <div class="footer-item footer-rights">
                <p>All the rights are reserved</p>            
            </div>
            <div class="footer-item footer-contact">
                <h6>Contact</h6>
                <p>email : a.menaa@esi-sba.dz</p>
                <p>tel : +213 779 86 92 29</p>
                <p>adresse : bejaia ville , Bejaia </p>                    
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    </body>
    </html>